@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* Load Space Grotesk SemiBold (weight 600) */
/* @font-face {
  font-family: 'Space Grotesk';           
  font-style: normal;
  font-weight: 600;
  src: url('https://fonts.gstatic.com/s/spacegrotesk/v21/V8mDoQDjQSkFtoMM3T6r8E7mPb94C-s0.woff2') format('woff2');
  font-display: swap;  
} */


*, :after, :before {
    box-sizing: border-box;
}
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4 {
    font-family: "Space Grotesk", sans-serif;
}
/* DECLARATION AREA */
a.black {
    background-color: black;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: ease-out 0.3s;
    text-decoration: none;
}

p.mini {
    text-transform: uppercase;
    margin: 0;
    color: #7F1CFE;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 27.2px;
    -webkit-font-smoothing: antialiased;
}

/* NAVBAR */
nav {
    padding: 31px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}
nav .logo {
    height: 50px;
}
nav a.black {
    background-color: black;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
a.black:hover {
    background-color: #7F1CFE;
}


/* SECTION HERO */
section.hero {
    overflow: hidden;
    margin: 0;
    position: relative;
    min-height: 696px;
    background-image: url(/img/19.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 129% auto;
    background-color: rgba(255, 255, 255, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: 0 277px;
    z-index: 2;
}
.hero h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 57.2px;
    text-align: center;
    width: 914px;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
.hero .desc {
    color: rgb(147, 147, 147);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 27.2px;
    text-align: center;
    width: 693px;
}
.hero a {
    text-decoration: none;
    background-color: black;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
.hero a:hover {
    background-color: #7F1CFE;
}
section.hero img {
    position: absolute;
    height: 80%;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/* SECTION USCPECH */
.uspech {
    background-color: #effafa;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uspech .wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
}
.uspech .left {
    display: flex;
    flex-direction: column;
}
.uspech h2 {
    font-size: 45px;
    font-weight: 600;
    width: 500px;
}
.uspech ul {
    margin: 0 0 0 40px;
    padding: 0;
    list-style-type: none;
}
.uspech li {
    width: 400px;
    font-size: 17px;
    font-weight: 500;
    line-height: 23.8px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
}
.uspech .rightOne {
    display: flex;
    flex-direction: column;
    background-image: url(/img/15.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    gap: 30px;
    z-index: 1;
    width: 500px;
}
.uspech .ball1 {
    width: 66px;
    height: 66px;
}
.uspech .row2 {
    display: flex;
    justify-content: end;
}
.uspech .ball2 {
    width: 36px;
    height: 36px;
}
.uspech .container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 160px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 4px 4px 30px 0px;
    height: min-content;
    width: 250px;
    transform: translateY(-30px);
}
.uspech .container .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uspech .container .right p#counter {
    color: #7F1CFE;
    font-size: 70px;
    font-weight: 500;
    margin: 0;
    width: 190px;    
    text-wrap-mode: wrap;
    font-family: "Space Grotesk", sans-serif;
}
.uspech .container .right h4 {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 25px;
    margin: 0;
}

/* UKAZKY PRACE */
.ukazky {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.ukazky .container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.ukazky .container video {
    width: 265px;
}
.ukazky a {
    background-color: #7F1CFE;
}
.ukazky a:hover {
    background-color: black;
}

/* SECTION WORK */
.work {
    background-image: url(img/19.png);
    background-size: cover;
    width: 99%;
    border-radius: 10px;
    margin-inline: auto;
}
.work h2 {
    font-size: 50px;
    font-weight: 600;
}
.work .wrapper {
    padding: 80px 0;
    background-image: url(img/19.png);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.work .container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.work .container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin: 0 10px;
    width: 400px;
    height: 330px;
    border: 1px solid white;
    padding: 40px;
}
.work .container .box svg {
    width: 66px;
    height: 66px;
    flex-shrink: 0; /* prevent flexbox from shrinking it */
    margin-bottom: 15px;
}
.work .container .box h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin: 0;
}
.work .container .box p {
    text-align: center;
    color: rgb(147, 147, 147);
    font-weight: 400;
    font-size: 1rem;
    line-height: 27.2px;
    letter-spacing: 1.05px;
    transition: all 0.3s;
}

.work .container .box:hover {
    transition: all 0.3s;
    border: 1px solid #7F1CFE;
}
.work a {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 5px;
    text-decoration: none;
    background-color: #7F1CFE;
}
.work a:hover {
    background-color: black;
}

/* SECTION SLUZBY */
.sluzby {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sluzby h2 {
    font-size: 50px;
    font-weight: 600;
}
.sluzby .containerOne {
    display: flex;
    gap: 10px;
}
.sluzby .containerOne .box {
    border: 0.67px solid rgba(135, 134, 134, 0.1);
    flex-grow: 1;
    border-radius: 25px;
}
.sluzby .containerOne .row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sluzby .containerOne .row:nth-child(2) .box {
    width: 628px; /* TOTO OZES DAT AKO PREMENU S IMG 1 - (reminder) */
}
.sluzby .img1 {
    width: 628px;
}
.sluzby .img2 {
    width: 298px;
}
.sluzby .img3 {
    height: 298px;
}
.sluzby .containerTwo {
    margin-top: 50px;
    display: flex;
    gap: 40px;
}
.sluzby .containerTwo .stripes {
    width: 285px;
    border-radius: 150px;
    transition: ease-out 0.2s;
}
.sluzby .containerTwo .stripes:hover {
    transition: ease-out 0.2s;
    transform: translateY(-10px);
    z-index: 1;
}
.sluzby .ball1 {
    width: 91px;
    height: 91px;
    transform: translateY(-50px);
}
.sluzby .ball2 {
    width: 51px;
    height: 51px;
    transform: translateY(43px);
    z-index: 2;
}
.sluzby .containerTwo .block {
    width: 600px;
}
.sluzby .containerTwo h3 {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
}
.sluzby .containerTwo p {
    color: rgb(147, 147, 147);
    font-weight: 400;
    font-size: 1rem;
    line-height: 27.2px;
    margin-block-end: 14.4px;
}
.sluzby .containerTwo a {
    width: fit-content;
}