@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@keyframes moveUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }    
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



*, :after, :before {
    box-sizing: border-box;
}
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4 {
    font-family: "Space Grotesk", sans-serif;
}
/* DECLARATION AREA */
a.black {
    background-color: black;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: ease-out 0.3s;
    text-decoration: none;
    width: fit-content;
    text-align: center;
}

p.mini {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #7F1CFE;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 27.2px;
    -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 681px) {
    p.mini {
        font-size: 12px;
        letter-spacing: 3px;
    }
}

/* NAVBAR */
nav {
    padding: 31px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}
nav .logo {
    height: 50px;
}
nav a.black {
    background-color: black;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
a.black:hover {
    background-color: #7F1CFE;
}
@media screen and (max-width: 500px) {
    nav .logo {
        height: 30px;
    }    
    nav {
        align-items: center;
    }
    nav a.black {
        padding: 10px 28px;
    }
}

/* SECTION HERO */
section.hero {
    overflow: hidden;
    margin: 0;
    position: relative;
    min-height: 696px;
    background-image: url(/img/19.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: 0 277px;
    z-index: 2;
}
.hero h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 57.2px;
    text-align: center;
    width: 914px;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
.hero .desc {
    color: rgb(147, 147, 147);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 27.2px;
    text-align: center;
    width: 693px;
}
.hero a {
    text-decoration: none;
    background-color: black;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
.hero a:hover {
    background-color: #7F1CFE;
}
section.hero img {
    position: absolute;
    height: 80%;
    bottom: 0;
    left: 0;
    z-index: 1;
}

@media screen and (max-width: 1461px) {
    section.hero img {
        height: 35vw;
        min-height: 200px;
    }
    .hero main {
        max-width: 99vw;
        margin: 0;
    }
}
@media screen and (max-width: 912px) {
    .hero h1 {
        width: 95vw;
    }
    section.hero {
        min-height: fit-content;
        padding: 80px  0 150px 0;
    }
}
@media screen and (max-width: 726px) {
    .hero .desc {
        width: 95vw;
    }
    .hero h1 {
        font-size: 24px;
        line-height: 31.2px;
    }
}
/* SECTION USCPECH */
.uspech {
    background-color: #effafa;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uspech .wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
}
.uspech .left {
    display: flex;
    flex-direction: column;
}
.uspech h2 {
    font-size: 45px;
    font-weight: 600;
    width: 500px;
}
.uspech ul {
    margin: 0 0 0 40px;
    padding: 0;
    list-style-type: none;
}
.uspech li {
    width: 400px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.8px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
}
.uspech .rightOne {
    display: flex;
    flex-direction: column;
    background-image: url(/img/15.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    gap: 30px;
    z-index: 1;
    width: 500px;
}
.uspech .ball1 {
    width: 66px;
    height: 66px;
}
.uspech .row2 {
    display: flex;
    justify-content: end;
}
.uspech .ball2 {
    width: 36px;
    height: 36px;
}
.uspech .container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 160px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 4px 4px 30px 0px;
    height: min-content;
    width: 250px;
    transform: translateY(-30px);
}
.uspech .container .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uspech .container .right p#counter {
    color: #7F1CFE;
    font-size: 70px;
    font-weight: 500;
    margin: 0;
    width: 190px;    
    text-wrap-mode: wrap;
    font-family: "Space Grotesk", sans-serif;
}
.uspech .container .right h4 {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 25px;
    margin: 0;
}
@media screen and (max-width: 1028px) {
    .uspech h2 {
        font-size: 23px;
        width: auto;
        margin-bottom: 50px;
    }
    .uspech li {
        margin-bottom: 50px;
        font-size: 20px;
    }
    .uspech .wrapper {
        gap: 50px;
    }
}
@media screen and (max-width: 800px) {
    .uspech .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }
    .uspech .rightOne {
        width: 85vw;
    }
}
@media screen and (max-width: 536px) {
    .uspech ul li {
        width: 70vw;
    }
    .uspech .rightOne {
        max-width: 95vw;
        transform: translateX(-20px);
    }
    .uspech .container {
        width: 200px;
    }
}
/* UKAZKY PRACE */
.ukazky {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.ukazky .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.ukazky .container .row {
    display: flex;
    gap: 20px;
}
.ukazky .container video {
    width: 265px;
}
.ukazky a {
    background-color: #7F1CFE;
}
.ukazky a:hover {
    background-color: black;
}
@media screen and (max-width: 609px) {
    .ukazky .container {
        gap: 5px;
    }
    .ukazky .container .row {
        gap: 5px;
    }   
    .ukazky .container video {
        width: 45vw;
    }
}

/* SECTION WORK */
.work {
    background-image: url(img/19.png);
    background-size: cover;
    width: 99%;
    border-radius: 10px;
    margin-inline: auto;
}
.work h2 {
    font-size: 50px;
    font-weight: 600;
}
.work .wrapper {
    padding: 80px 0;
    background-image: url(img/19.png);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.work .container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px;
    flex-wrap: wrap;
}
.work .container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    width: 400px;
    height: 330px;
    border: 1px solid white;
    padding: 40px;
}
.work .container .box svg,
.work .container .box img {
    width: 66px;
    height: 66px;
    flex-shrink: 0; /* prevent flexbox from shrinking it */
    margin-bottom: 15px;
}
.work .container .box h4 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin: 0;
}
.work .container .box p {
    text-align: center;
    color: rgb(147, 147, 147);
    font-weight: 400;
    font-size: 1rem;
    line-height: 27.2px;
    letter-spacing: 1.05px;
    transition: all 0.3s;
}

.work .container .box:hover {
    transition: all 0.3s;
    border: 1px solid #7F1CFE;
}
.work a {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 5px;
    text-decoration: none;
    background-color: #7F1CFE;
}
.work a:hover {
    background-color: black;
}
@media screen and (max-width: 675px) {
    .work h2 {
        font-size: 33px;
    }
}
@media screen and (max-width: 446px) {
    .work .container .box {
        width: 90vw;
        height: 330px;
    }
    .work .container .box p {
        text-align: center;
        color: rgb(147, 147, 147);
        font-weight: 400;
        font-size: 1rem;
        line-height: 20.2px;
        letter-spacing: 1px;
        transition: all 0.3s;
    }
    a.black {
        scale: 0.9;
    }
}

/* SECTION SLUZBY */
.sluzby {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sluzby h2 {
    font-size: 50px;
    font-weight: 600;
}
.sluzby .containerOne {
    display: flex;
    gap: 10px;
}
.sluzby .containerOne p {
    width: 628px;
}
.sluzby .containerOne .box {
    border: 0.67px solid rgba(135, 134, 134, 0.1);
    flex-grow: 1;
    border-radius: 25px;
}
.sluzby .containerOne .row.second .box {
    display: flex;
    gap: 40px;
}
.sluzby .containerOne .row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sluzby .containerOne .row:nth-child(2) .box {
    width: 628px;
}
.sluzby .img1 {
    width: 628px;
}
.sluzby .img2 {
    width: 298px;
}
.sluzby .img3 {
    height: 298px;
}
.sluzby .containerTwo {
    margin-top: 50px;
    display: flex;
    gap: 40px;
}
.sluzby .containerTwo .stripes {
    width: 285px;
    border-radius: 150px;
    transition: ease-out 0.2s;
}
.sluzby .containerTwo .stripes:hover {
    transition: ease-out 0.2s;
    transform: translateY(-10px);
    z-index: 1;
}
.sluzby .ball1 {
    width: 91px;
    height: 91px;
    transform: translateY(-50px);
}
.sluzby .ball2 {
    width: 51px;
    height: 51px;
    transform: translateY(43px);
    z-index: 2;
}
.sluzby .containerTwo .block {
    width: 600px;
}
.sluzby .containerTwo h3 {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
}
.sluzby .containerTwo p,
.sluzby .containerOne p {
    color: rgb(147, 147, 147);
    font-weight: 400;
    font-size: 1rem;
    line-height: 27.2px;
    margin-block-end: 14.4px;
}
.sluzby .containerTwo a {
    width: fit-content;
}
.sluzby .containerTwo .align {
    display: flex;
    gap: 40px;
}
@media screen and (max-width: 1300px) {
    .sluzby .containerOne .row.second {
        width: 100%;
    }
    .sluzby .containerOne .box {
        padding: 20px;
        width: 90vw !important;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .sluzby .containerOne {
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width: 1154px) {
    .sluzby .img1 {
        width: 288px;
        height: 196px;
    }
}
@media screen and (max-width: 736px) {
    .sluzby .containerOne .box {
        padding: 20px;
        width: 95vw !important;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .sluzby .containerOne .box p {
        width: 90vw;
        margin-left: 15px;
    }
}

/* CONTAINER TWO */
@media screen and (max-width: 1300px) {
    .sluzby .containerTwo {
        padding: 20px;
        width: 95vw !important;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
}
@media screen and (max-width: 890px) {
    .sluzby .containerTwo .stripes {
        width: 200px;
    }
}
@media screen and (max-width: 652px) {
    .sluzby .containerTwo .block {
        width: 95vw;
    }
}
@media screen and (max-width: 522px) {
    .sluzby .containerTwo .stripes {
        width: 30vw;
    }
    .sluzby .ball1 {
        width: 75px;
        height: 75px;
    }
    .sluzby .ball2 {
        width: 38px;
        height: 38px;
    }
    .sluzby .containerTwo .block h3 {
        font-size: 33px;
    }
    .sluzby h2 {
        font-size: 33px;
    }
}

/* SECTION PRIDAJ */
.pridaj {
    background-color: black;
}
.pridaj .wrapper {
    background-image: url(img/6.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}
.pridaj .row img {
    width: 86px;
    height: 86px;
}
.pridaj .container {
    display: flex;
    justify-content: center;
    color: white;
    gap: 60px;
}
.pridaj .left {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.pridaj h2 {
    margin: 0;
    font-size: 50px;
    font-weight: 600;
}
.pridaj .count {
    margin: 0;
    font-size: 89px;
    font-weight: 600;
    line-height: 115px;
}
.pridaj h3 {
    font-size: 43px;
    font-weight: 600;
    text-align: left;
    margin: 0;
}
.pridaj .right img {
    width: 512px;
    height: 341px;
}
.pridaj a {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 5px;
    background-color: white;
    color: black;
    transition: all 0.3s;
    padding: 10px 25px;
    width: 90%;
}
.pridaj a:hover {
    transition: all 0.3s;
    color: #7F1CFE;
    background-color: white;
}
@media screen and (max-width: 916px) {
    .pridaj .container {
        flex-direction: column;
    }
    .pridaj .wrapper {
        padding: 50px 0;
    }
}
@media screen and (max-width: 668px) {
    .pridaj .wrapper {
        width: 100%;
    }
    .pridaj .container {
        width: 100%;
    }
}
@media screen and (max-width: 668px) {
    .pridaj .right img {
        width: 95vw;
        height: auto;
    }
}

/* SECTION RECENZE */
.recenzie {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/19.png);
    width: 95vw;
    margin-inline: auto;
    border-radius: 10px;
    padding: 140px 0;
}
.recenzie .mini {
    margin-bottom: 15px;
}
.recenzie h2 {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
}
.recenzie .stars {
    color: rgb(147, 147, 147);
}
.recenzie .container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.recenzie video {
    max-width: 366px;
}
@media screen and (max-width: 1600px) {
    .recenzie video {
        max-width: 20vw;
    }
    .recenzie {
        padding: 50px 0;
    }
}
@media screen and (max-width: 900px) {
    .recenzie video {
        max-width: 42vw;
    }
    .recenzie .container {
        gap: 5px;
    }
}
@media screen and (max-width: 675px) {
    .recenzie h2 {
        font-size: 33px;
    }
}
/* SECTION FAQ */
.faq {
    padding: 100px 0;
    width: 100%;
}
.faq .wrapper {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.faq .left {
    display: flex;
    flex-direction: column;
    background-image: url(img/10.jpg);
    width: 600px;
    height: 689px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
}
.faq .left .row2 {
    display: flex;
    justify-content: flex-end;
}
.faq .left img {
    width: 174px;
    border-radius: 100px;
    position: absolute;
}
.faq .left img.one {
    top: 20px;
    left: -20px;
}
.faq .left img.two {
    bottom: 20px;
    right: -20px;
}
.faq h2 {
    margin: 0;
    font-size: 43px;
    font-weight: 600;
}
.faq .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.faq ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.faq li {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #b882ff3f;
    border-radius: 999px;
    font-size: 1.2rem;
    font-weight: 600;
    width: fit-content;
    padding: 0px 20px;
    cursor: pointer;
}
.faq p {
    width: 400px;
    color: rgb(147, 147, 147);
    margin-left: 15px;
    letter-spacing: 1.2px;
    line-height: 20px;
}
.faq h4 {
    margin: 15px 0;
}
.faq .right a {
    margin-top: 15px;
}
@media screen and (max-width: 1614px) {
    .faq .wrapper {
        gap: 50px;
    }
}
@media screen and (max-width: 1452px) {
    .faq .left {
        width: 35vw;
        height: 40vw;
    }
}
@media screen and (max-width: 1296px) {
    .faq .left {
        width: 80vw;
        height: 80vw;
    }
    .faq .wrapper {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 810px) {
    .faq h2 {
        font-size: 33px;
    }
    .faq .left {
        height: 100vw;
    }
    .faq .left img {
        width: 120px;
    }
    .faq li {
        gap: 15px;
        font-size: 1rem;
        max-width: 95vw;
        margin-left: 10px;
    }
    .faq p {
        transform: translateX(20px);
        font-size: 0.8rem;
        width: 80vw;
        margin-left: 20px;
    }
}
/* SECTION KONTAKT */
.kontakt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}
.kontakt h2 {
    font-size: 43px;
    font-weight: 600;
}
.kontakt .wrapper {
    width: 1000px;
    height: 550px;
    outline: 2px solid lime;
}
.calendly-inline-widget {
    width: 700px;
}
@media screen and (max-width: 750px) {
    .calendly-inline-widget {
        width: 80vw;
    }   
}
/* FOOTER */
footer {
    display: flex;
    background-color: black;
    padding: 150px 0;
}
footer .wrapper {
    display: flex;
    gap: 50px;
    margin-inline: auto;    
    color: rgb(147, 147, 147);
}
footer .left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 510px;
}
footer .left p {
    line-height: 27.2px;
    font-size: 1rem;
    font-weight: 400;
}
footer img {
    width: 300px;
    transform: translateX(-25px);
}
footer h3 {
    color: white;
}

@media screen and (max-width: 800px) {
    footer .left {
        width: 400px;
    }
}
@media screen and (max-width: 680px) {
    footer .left {
        width: 300px;
    }
    footer img {
        width: 200px;
        transform: translateX(-5px);
    }
}
@media screen and (max-width: 544px) {
    footer .wrapper {
        flex-direction: column;
        gap: 10px;
    }
}


.hide {
    display: none !important;
}
.preparing {
    visibility: hidden !important;
}
.animate {
    animation: moveUp 0.8s ease-in-out;
}